<div class="loading">
<!-- From Uiverse.io by mrhyddenn --> 
    <div class="loader">
        <div class="snow">
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:15"></span>
            <span style="--i:17"></span>
            <span style="--i:18"></span>
            <span style="--i:13"></span>
            <span style="--i:14"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:10"></span>
            <span style="--i:18"></span>
            <span style="--i:13"></span>
            <span style="--i:14"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:10"></span>
            <span style="--i:18"></span>
            <span style="--i:13"></span>
            <span style="--i:14"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:10"></span>
        </div>
    </div>
</div>

<style>
    .loading {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        zoom: 3.0;
        background-color: #303030;
    }
    .animated-stop {
        animation-play-state: paused !important;
    }
	
    .scaleAndFadeout {
        animation: scaleAndFadeOut 1.5s forwards;
    }

    @keyframes scaleAndFadeOut {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(1.5);
            opacity: 0;
        }
    }

/* From Uiverse.io by mrhyddenn */ 
.loader {
  position: relative;
  width: 110px;
  height: 30px;
  background: #fff;
  border-radius: 100px;
}

.loader::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 40px 0 0 20px #fff;
}

.snow {
  position: relative;
  display: flex;
  z-index: 1;
}

.snow span {
  position: relative;
  width: 3px;
  height: 3px;
  background: #fff;
  margin: 0 2px;
  border-radius: 50%;
  animation: snowing 5s linear infinite;
  animation-duration: calc(15s / var(--i));
  transform-origin: bottom;
}

@keyframes snowing {
  0% {
    transform: translateY(0px);
  }

  70% {
    transform: translateY(100px) scale(1);
  }

  100% {
    transform: translateY(100px) scale(0);
  }
}
</style>

<script>	
    function initLoading() {
        let loading = document.querySelector(".loading");
        document.addEventListener('DOMContentLoaded', function() {
            // 本地页面加载速度快，可自行使用setTimeout()来进行延迟，体验加载动画效果
            // 执行加载完成动画
            loadFinish();
            // 延迟1.5s，待加载完成动画执行结束
            setTimeout(() => {
                loading.style.display = "none";
            }, 100)
        });
    }
	
    function loadFinish() {
        // 暂停动画
        let sharingon= document.querySelector(".loader");
        sharingon.classList.add("animated-stop")
        // 放大并渐变到透明
        let loading = document.querySelector(".loading");
        loading.classList.add("scaleAndFadeout")
    }
	
    initLoading();
</script>